Tecnologia e sviluppo/xmlapi/src/libro.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="tipo_libro">
        <xs:sequence>
            <xs:element name="autore" type="xs:string"/>
            <xs:element name="titolo" type="xs:string"/>
            <xs:element name="prezzo" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tipo_libro_genere">
        <xs:complexContent>
            <xs:extension base="tipo_libro">
                <xs:attribute name="genere" type="xs:string" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="libri">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="libro" type="tipo_libro_genere" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>